*{
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans');

#container1{
    display: flex;    
    align-items: flex-start;
    flex-direction: column;
    margin: auto;
}

#container2{
    display: flex;    
    align-items: flex-start;
    flex-direction: row;
    margin: auto;
}

body{
    background: linear-gradient(to bottom, #0F2027, #203A43, #2C5364, #006A85);
    color: white;
    font-family: Open Sans, sans-serif;
}

#header{
    padding-top: 3vh;
    padding-left: 5vw; padding-right: 5vw;
    width: 100%;
    height: 10vh;
    top:0;
    background-color: #006A85;
    position: sticky;
    font-family: Montserrat, sans-serif;
    font-size: 1.8em;
}

#sidebar{
    padding-left: 5vw;
    position: fixed;
    margin-left: 0;
    left: 0;
    width: 20vw;
    font-family: Montserrat, sans-serif;
    font-size: 1.2em;
}

.menu{
    padding: 1vh;
    padding-left: 0;
    padding-right: 1vw;
    padding-top: 2vh;
}

.menulink{
    text-decoration: none;
    color: white;
}

#main{
    margin-left: 20vw;
}

.section{
    height: 85vh;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-top: 2vh;
}

.anchor{
    display: block;
    height: 15vh;
    margin-top: -15vh;
    visibility: hidden;
}