*{
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

h3{
    font-size: 2em;
}

@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans');

.containerCol{
    display: flex;    
    align-items: flex-start;
    flex-direction: column;
    margin: auto;
}

.containerRow{
    display: flex;    
    align-items: flex-start;
    flex-direction: row;
    margin: auto;
    flex-wrap: wrap;
}

body{
    background: linear-gradient(to bottom, #0F2027, #203A43, #2C5364, #006A85);
    color: whitesmoke;
    font-family: Open Sans light, sans-serif;
}

#header{
    padding-top: 3vh;
    padding-left: 5vw; padding-right: 5vw;
    width: 100%;
    height: 10vh;
    top:0;
    background-color: #006A85;
    position: sticky;
    font-family: Montserrat, sans-serif;
    font-size: 1.8em;
}

#sidebar{
    padding-left: 5vw;
    padding-top: 5vh;
    position: fixed;
    margin-left: 0;
    left: 0;
    width: 20vw;
    height: 50vh;
    font-family: Montserrat light, sans-serif;
    font-size: 1.2em;
}

.menu{
    margin-top: 2vh;
    margin-bottom: 2vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
    height: 5vh;
    width: 15vw;
    color: white;
    text-decoration: none;
    font-size: 1em;
    font-family: Montserrat light, sans-serif;
    display: block;
    position: relative;
}

.menu:hover, .menu:focus, .menu.active{
    font-family: Montserrat, sans-serif;
    font-size: 1.1em;
}

.menu:after{
    content: '';
    background-color: whitesmoke;
    border-bottom: solid 1px;
    width: 100%;
    position: absolute;
    bottom: 0px;
    left: 0;
    opacity: 0;
    transform: scaleX(0.1);
    transform-origin: left;
    transition: all 0.3s;
}

.menu:hover:after, .menu.active:after{
    opacity: 1;
    transform: scaleX(1);
    transform-origin: left;
    transition: all 0.3s;
    
}


#main{
    margin-left: 20vw;
}

.section{
    height: 90vh;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-top: 2vh;
    position: relative;
    z-index: -1;
    overflow-x: hidden;
    text-align: justify;
}

.anchor{
    display: block;
    height: 10vh;
    margin-top: -10vh;
    visibility: hidden;
}

.textcontainer{
    position: absolute;
    top: 60vh;
    padding-right: 5vw;
    width:73vw;
    
}

#fotocontainer{
    position: relative;
    max-width: 400px;
    width: 30vw;
    max-height: 400px;
    height: 30vw;
}

.fotohome{
    position: absolute;
    left: 38vw;
    max-width: 500px;
    width: 40vw;
    max-height: 500px;
    height: 40vw;
    border:0;
    margin:0;
    padding: 0;
    margin-top: 20vh;
    transform: translate(-50%, -50%)
}

.glitch{
    animation: flash 2s infinite linear;
}

@keyframes flash{
    0%{opacity: 1}
    
    10%{opacity: 1}
    
    11%{opacity: 0}
    
    12%{opacity: 1}
    
    15%{opacity: 1}
    
    17%{opacity: 0}
    
    19%{opacity: 1}
    
    40%{opacity: 1}
    
    41%{opacity: 0}
    
    42%{opacity: 1}
    
    60%{opacity: 1}
    
    61%{opacity: 0}
    
    63%{opacity: 1}
    
    100%{opacity: 1}

}

#home{
    top:10vh;
}

#bio{
    top: 100vh;
}